@font-face {
    font-family: 'Inconsolata';
    src: url('./Inconsolata.otf') format("opentype");
}

/* Example of using the imported font */
body {
    /* font-family: logic-monospace, mono; */
    font-family: 'Inconsolata';
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

a {
    text-decoration: underline;
    color: #330033;
}

a:hover {
    color: #ff6633;
}

strong {
    color: #ff6633;
    font-weight: normal;
}

p.data {
    color: #993399;
    font-size: 0.9rem;
    margin-top: 0;
  }
  p.data a {
    color: #993399;
  }
  p.data a:hover {
    color: #ff6633;
  }
/* 
.sidebar {
    z-index: 999;
} */

/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
    1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
    2. Remove default margin
*/
* {
	margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
    6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
    7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}
